body {
  margin: 0;
  min-height: 100vh;
  font-family: monospace;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(0, 255, 239, 0.3029586834733894) 100%
  );
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: rgb(68, 222, 228);
  color: rgb(246, 255, 197);
  text-shadow: 0px 0px 5px rgb(52, 53, 133);
  font-weight: bold;
  font-size: 32px;
  box-shadow: 0px 1px 10px rgba(34, 193, 195, 1);
  transition: 200ms;
}

.header:hover {
  box-shadow: 0px 2px 15px rgba(34, 193, 195, 1);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  width: 100%;
}

.area {
  display: grid;
  width: 500px;
  height: 500px;
  border: 1px solid black;
  box-shadow: 0px 0px 5px rgb(29, 117, 158);
  transition: 200ms;
}

.area:hover {
  box-shadow: 0px 0px 10px rgb(29, 117, 158);
}

@keyframes onappear {
  0% {
    opacity: 0.001;
  }
  100% {
    opacity: 1;
  }
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 80%;
  width: 1000px;
  height: 120px;
  border: 1px solid black;
  box-shadow: 0px 0px 5px 0px blue;
  animation: onappear 1600ms;
  transition: 400ms;
  background: rgb(159, 251, 251);
  background: linear-gradient(
    0deg,
    rgba(159, 251, 251, 0.8127626050420168) 25%,
    rgba(159, 251, 251, 1) 50%,
    rgba(159, 251, 251, 1) 50%,
    rgba(159, 251, 251, 1) 75%,
    rgba(159, 251, 251, 1) 100%,
    rgba(159, 251, 251, 1) 100%
  );
}

.options:hover {
  box-shadow: 0px 0px 15px 1px blue;
  background: rgb(148, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(148, 255, 255, 1) 25%,
    rgba(148, 255, 255, 1) 50%,
    rgba(148, 255, 255, 1) 50%,
    rgba(148, 255, 255, 1) 75%,
    rgba(148, 255, 255, 1) 100%,
    rgba(148, 255, 255, 1) 100%
  );
}

button {
  padding: 20px 30px;
  border: 1px solid rgb(132, 132, 184);
  background-color: rgb(120, 181, 235);
  cursor: pointer;
  color: white;
  font-weight: bold;
  transition: 200ms;
  margin-left: 50px;
  margin-right: 50px;
  box-shadow: 0px 0px 5px 1px blue;
}

button:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 1px blue;
  background-color: white;
  color: rgb(120, 181, 235);
}

.color-selection {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 200px;
  gap: 10px;
  color: rgb(80, 193, 221);
  text-shadow: 1px 1px blue;
}

#color-select {
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 1px blue;
  transform: scale(1.3);
  cursor: pointer;
}

.vol-selection {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  color: rgb(80, 193, 221);
  text-shadow: 1px 1px blue;
}

#accept {
  padding: 10px 14px;
}

.show-vol-select {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  font-weight: bold;
}

.box {
  background-color: #fff;
}

.box:hover {
  animation: boxAnimation 500ms infinite alternate-reverse;
  box-shadow: 0px 0px 1px 1px #fff;
}

@keyframes boxAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  position: fixed;
  width: 100%;
  padding: 10px;
  background: rgb(62, 231, 175);
  color: white;
  text-shadow: 1px 1px 5px blue;
  font-weight: bold;
  box-shadow: 0px -1px 5px 1px rgba(0, 255, 239, 0.3029586834733894);
  transition: 200ms;
}

.footer:hover {
  box-shadow: 0px -2px 20px 1px rgba(0, 255, 239, 0.3029586834733894);
}

.small-button {
  padding: 10px 12px;
  font-size: 12px;
}

.randomcoloreffect {
  animation: bgrandom infinite linear 2000ms;
}

@keyframes bgrandom {
  0% {
    background-color: rgb(18, 163, 163);
  }
  10% {
    background-color: rgb(21, 64, 180);
  }
  20% {
    background-color: rgb(92, 7, 148);
  }
  30% {
    background-color: rgb(214, 22, 189);
  }
  40% {
    background-color: rgb(202, 17, 88);
  }
  50% {
    background-color: rgb(236, 10, 10);
  }
  60% {
    background-color: rgb(224, 125, 12);
  }
  70% {
    background-color: rgb(215, 230, 9);
  }
  80% {
    background-color: rgb(116, 230, 10);
  }
  90% {
    background-color: rgb(36, 233, 10);
  }
  100% {
    background-color: rgb(14, 235, 117);
  }
}

.colormodeeffect {
  animation: toggle infinite linear 2000ms;
  background-color: rgb(10, 133, 133);
}

@keyframes toggle {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
